:root {
	// COLORS

	//Primary
	--color--primary-light: #e0e8ff;
	--color--primary-bright: #3829e0;

	//Secondary
	--color--secondary-light: #f5f7ff;
	--color--secondary-bright: #7280a7;
	--color--secondary-dark: #1f2f56;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Red Hat Display', sans-serif;
	background-color: var(--color--primary-light);
	height: 100vh;
	padding: 7rem 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(./images/pattern-background-mobile.svg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: auto;
}

.card {
	max-width: 32.7rem;
	background-color: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 0 3rem rgba(0, 0, 0, 0.4);

	&.header {
	}

	&.main {
	}

	&__heading {
	}
	&__content {
	}
	&.details {
		&__icon {
		}

		&__pricing-box {
			&.title {
			}

			&.price {
			}
		}
		&__link {
		}
	}
	&__btn {
	}
	&__cancel {
	}
}
