:root {
	// COLORS

	//Primary
	--color--primary-light: #e0e8ff;
	--color--primary-bright: #3829e0;

	//Secondary
	--color--secondary-light: #f5f7ff;
	--color--secondary-bright: #7280a7;
	--color--secondary-dark: #1f2f56;
	--color--hover: rgb(118, 108, 241);
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Red Hat Display', sans-serif;
	background-color: var(--color--primary-light);
	height: 100vh;
	padding: 7rem 2.4rem;
	display: flex;
	justify-content: center;

	background-image: url(./images/pattern-background-mobile.svg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain;
}

.card {
	max-width: 32.7rem;
	background-color: #fff;
	border-radius: 1.5rem;
	box-shadow: 0 0 3rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
	text-align: center;

	.header {
		background-image: url(./images/illustration-hero.svg);
		background-size: cover;
		height: 16rem;
		margin-bottom: 1.5rem;
	}

	.main {
		padding: 2rem 2.7rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&__heading {
		font-size: 2.2rem;
		font-weight: 900;
		color: var(--color--secondary-dark);
	}
	&__content {
		font-size: 1.5rem;
		font-weight: 500;
		color: var(--color--secondary-bright);
		line-height: 1.5;
	}
	.details {
		background-color: var(--color--secondary-light);
		border-radius: 1rem;
		display: flex;
		align-items: center;
		gap: 2rem;
		padding: 1.6rem;
		&__icon {
			height: 4.8rem;
			width: 4.8rem;
			background-image: url(./images/icon-music.svg);
		}

		.title {
			color: var(--color--secondary-dark);
			font-size: 1.4rem;

			font-weight: 900;
		}

		.price {
			font-size: 1.4rem;
			font-weight: 500;
			color: var(--color--secondary-bright);
		}

		&__link {
			font-size: 1.3rem;
			font-weight: 700;
			color: var(--color--primary-bright);
			text-decoration: none;
			border-bottom: 1px solid var(--color--primary-bright);
			line-height: 0.85;
			margin-left: auto;
			transition: all 0.3s;

			&:hover {
				border-bottom: 1px solid transparent;
				color: var(--color--hover);
			}
		}
	}
	&__btn {
		color: #fff;
		font-family: inherit;
		font-size: 1.5rem;
		font-weight: 900;
		border: none;
		background-color: var(--color--primary-bright);
		border-radius: 1rem;
		padding: 1.5rem 0;
		box-shadow: 0 1rem 1.5rem rgba(56, 41, 241, 0.3);
		transition: all 0.3s;
		cursor: pointer;

		&:hover {
			background-color: var(--color--hover);
			box-shadow: 0 1rem 1.5rem rgba(118, 108, 241, 0.3);
		}
	}
	&__cancel {
		align-self: center;
		color: var(--color--secondary-bright);
		text-decoration: none;
		font-size: 1.5rem;
		font-weight: 900;
		transition: all 0.3s;

		&:hover {
			color: var(--color--secondary-dark);
		}
	}
}

.attribution {
	margin-top: 2rem;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
